.SearchGlobal{
    width: 400px;
    height: 60px;
    background-color: white;
    color: black;
    text-align: start;
    border-radius: 12px;
    border: none;
    border: 2px solid black;
    font-size: 20px;
&:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
}
.SearchNull{
    font-size: 20px;
}