.Light_Mode,.Dark_Mode{
    position: relative;
    padding:5px;
}
.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.actionPanel{
    display: flex;
    align-items: safe;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    padding: 0 10px;
}
.URLName{
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: break-all;
    line-height: 20px;
    padding: 16px;
    border: 1px solid #1B9E49;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 0 3px;
    text-decoration: none;
    color: #1A5D00;
    transition: all 0.3s ease;
}
.URLName:focus, .URLName:hover{
    color:white;
    background-color:#1A5D00;
    text-decoration: underline;
}
.addBtnComit{
    margin:35px 0px;
    margin-left:4em;
}
.todoSection{
    display: block;
    margin-left: 4em;
}
.searchWrapper{
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap:10px;
    margin-left:4em;
}

.Light_Mode{
    background-color: white;
    color: #212529;
    height: 100vh;
}
.Dark_Mode{
    background-color: #212529;
    color-scheme: white;
    height: 100vh;
}
.burdermainTimeToggle{
    display: flex;
    align-items: center;
    gap: 1em;   
}