*{
    font-family:Grandstander, sans-serif;
}
:root{
    --bg: #ffffff;
    --text: #fff;
    --title: #000;
}
body[data-theme="Light_Mode"]{
    --bg: #212529;
    --text: #212529;
    --title: #212529;
}
body[data-theme="Dark_Mode"]{
    background-color: #212529;
    --bg:#ffffff;
    --text: #000;
    --title: #ffffff;
}
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s, color 0.2s;
}

h1, h2, h3, h4{
  color:var(--title);
}
ul,li{
  color: var(--title) !important;
}
p{
  color: var(--bg);
  font-weight: 900;
}


